# Build & Output Directories
bin/
obj/
publish/
publish_*/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compiled Binaries & Certificates
*.exe
*.cer

# Secrets
.env
.env.*

# IDE & Editor files
.vs/
.vscode/
.idea/
*.swp
*.lock

# OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Crash dumps & logs
*.log
*.dmp
*.tmp
